.message__guest{
     padding: 5px 10px !important;
     border-radius: 50px !important;
     margin: 20px 15px;
     width: fit-content;
     background-color: #075E54 !important;
     z-index: 100;
}
.message__user{
     padding: 5px 10px !important;
     border-radius: 50px !important;
     margin: 20px 15px;
     margin-left: auto;
     text-align: left !important;
     background-color: #25D366 !important;
     width: fit-content;
     min-width: 20%;
     z-index: 100;
}
.message__typography{
     color: white;
     font-size: 18px !important;
}

@media (max-width: 767px) {
     .message__user{
          padding: 2px 5px;
     }
     .message__typography{
          font-size: 15px;
     }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
     .message__user{
          padding: 0px 5px;
     }
     .message__typography{
          font-size: 15px;
     }
}