.message__guest{
     padding: 0px 5px !important;
     border-radius: 0px 50px 0px 50px !important;
     margin: 20px 15px;
     width: fit-content;
     background-color: #075E54 !important;
     z-index: 100;
     border: 1px solid red;
     max-width: 50%;
     height: 100%;
}
.message__user{
     padding: 0px 5px !important;
     border-radius: 50px 0px 50px 0px !important;
     margin: 20px 15px;
     margin-left: auto;
     text-align: left !important;
     background-color: #25D366 !important;
     width: fit-content;
    
     z-index: 100;
     max-width: 50%;
     height: 100%;

}
.message__typography{
  
   display: flex;
   padding: 2px;
}
.message__typography img{
     flex: 30px;
}
.message__typography div{
     color: white;
     font-size: 18px !important;
    
     display: flex;
     justify-content: center;
     align-items: center;
     height: auto;
     word-break:break-all;
     flex: calc(100% - 30px);
}
.message__div{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     width: fit-content;
}
.message__image{
     width: 30px;
     height: 30px;
     border-radius: 50%;
     margin-right: 4px;
    
}

@media (max-width: 767px) {
     .message__user{
          padding: 0px 5px;
          max-width: 80%;
     }
     .message__guest{
          padding: 0px 5px;
          max-width: 80%;
     }
     .message__typography{
          font-size: 15px;
     }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
     .message__user{
          padding: 0px 5px;
          max-width: 80%;
     }
     .message__typography{
          font-size: 15px;
     }
     .message__guest{
          padding: 0px 5px;
          max-width: 80%;
     }
}