.app__form{
  padding: 20px;
  position: fixed;
  bottom: 0;
  background-color: #e9e9eb;
  z-index: 10;
  width: 90%;
  margin: 20px;
}
.app__formControl{
  display: flex !important;
  flex-direction:  row !important;
  align-items: center;
}
.app__input{
  flex: 1 !important;
}
.app__iconButton{
 width: 0 !important;
}